.general-button {
  display: block;

  box-sizing: border-box;
  padding: 13px 40px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid #444444;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.general-button:hover {
  color: white;
  background-color: #444444;
}

.general-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}