.general-button {
  box-sizing: border-box;
  display: block;

  padding: 13px 40px;

  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid #444444;

  cursor: pointer;
}