.intro {
  .wrapper();
  background-color: #f1f1f1;

  text-align: center;
}

.intro__header {
  padding-top: 65px;
  padding-bottom: 65px;
}

@media (min-width: @tablet) {
  .intro {
    padding-top: 50px;
    margin-top: -80px;
  }

  .intro__header {
    padding-top: 80px;
  }


}