.page-contacts {
  .wrapper();
  padding-bottom: 40px;
}

.page-contacts__body-wrapper {
  display: table;
  line-height: 30px;
  margin-bottom: 30px;
}

.page-contacts__mail,
.page-contacts__address {
  display: table-row;
}

.page-contacts__cell {
  display: table-cell;
}

.page-contacts__cell--col1 {
  padding-right: 30px;
  padding-top: 30px;

}

.page-contacts__cell--underline {
  border-bottom: 1px solid #62d1ba;

}

.page-contacts__image {
  position: relative;
  width: @mobile;
  height: 458px;
  overflow: hidden;
  text-align: center;
  margin-left: -30px;
}

.page-contacts__image img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page-contacts__button {
  margin-top: 40px;
}

@media (min-width: @tablet) {
  .page-contacts {
    padding-bottom: 60px;
  }

  .page-contacts__body-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  .page-contacts__mail {
    margin-right: 40px;
  }

  .page-contacts__image {
    width: @tablet;
    margin-left: -50px;
  }

  .page-contacts__cell {
    padding-top: 0px;
  }


  .page-contacts__title {
    position: relative;
    padding-bottom: 50px;
  }

  .page-contacts__title::before{
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;

    right: 0px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-size: 47px 81px;
  }

  .page-contacts__button-wrapper{
    text-align: center;
  }

  .page-contacts__button {
    display: inline-block;
    width: auto;

    margin-top: 55px;
  }

}

@media (min-width: @desktop) {
  .page-contacts {
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 275px;
  }

  .page-contacts__body-wrapper {
    display: table;
  }

  .page-contacts__cell--col1 {
    padding-right: 30px;
    padding-top: 30px;

  }

  .page-contacts__title::before {
    left: -125px;
  }

  .page-contacts__wrapper {
    display: flex;
    position: relative;
  }

  .page-contacts__image {
    width: 50%;
  }

  .page-contacts__image {
    flex-shrink: 0;
    width: 525px;
    margin: 0px;
  }

  .page-contacts__content {
    width: 50%;
  }

  .page-contacts__button-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }


}